<p-panel header="{{name}}">
  <ng-template pTemplate="header">
    <div class="flex align-items-end gap-2">
      <p-badge [value]="movies.length" />
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="flex align-items-center gap-2">
      <div class="movie-list-wrapper">
        @for (movie of movies; track movie.id) {
        <app-movie-card-component [movieData]="movie" [isRemovable]="isReadOnly"
          (addToFavoritesEmitter)="addToFavorites($event)"
          (addToWatchLaterEmitter)="addToWatchLater($event)"
          (removeFromListEmitter)="removeFromList($event)">
        </app-movie-card-component>
        }
      </div>
    </div>
  </ng-template>
</p-panel>
