<p-panel header="{{name}}">
  <ng-template pTemplate="header">
    <div class="flex align-items-end gap-2">
      <p-badge [value]="movies.length" />
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="flex align-items-center gap-2">
      <div class="movie-list-wrapper">
        <div *ngFor="let movie of movies; trackBy: ngForTrackByIndex">
          <app-movie-card-component [movieData]="movie"
            (toggleFavoritesEmitter)="handleFavorites($event)"
            (toggleWatchLaterEmitter)="handleWatchLater($event)">
          </app-movie-card-component>
        </div>
      </div>
    </div>
  </ng-template>

</p-panel>
