<div class="card-movie">

  <p-card header="">
    <ng-template pTemplate="header">
      <div class="container padder">
        <div class="relative-footer">

          @if(isInFavorites){
          <p-button icon="pi pi-heart-fill" rounded="true" text="true" severity="danger"
            (onClick)="removeFromFavorites()" />
          }@else {
          <p-button icon="pi pi-heart" rounded="true" text="true" severity="danger" (onClick)="addToFavorites()" />
          }

          @if(isInWatchLater){
          <p-button icon="pi pi-star-fill" rounded="true" text="true" severity="warning"
            (onClick)="removeFromWatchLater()" />
          }@else {
          <p-button icon="pi pi-star" rounded="true" text="true" severity="warning" (onClick)="addToWatchLater()" />
          }
        </div>

      </div>
    </ng-template>

    <ng-template pTemplate="content">
      <div class="padder">
        <h2>{{movieData.title}}</h2>
        <div class="flex-column ">
          <div>
            <img class="p-card-image" src="{{movieData.poster_path | localizeImagePath}}" alt="{{movieData.title}}" />
          </div>
          <div id="info" class="padder-left">
            <label for="lang">Language:</label>
            <p id="lang">{{movieData.original_language}}</p>

            <label for="release_date">Release:</label>
            <p id="release_date">{{movieData.release_date}}</p>

            <label for="description">Description:</label>
            <p>{{movieData.overview}}</p>
          </div>
        </div>
      </div>


    </ng-template>
  </p-card>


</div>
