<p-splitter  [panelSizes]="[20, 80]" [minSizes]="[10, 0]" styleClass="mb-5">
  <ng-template pTemplate>
    <div class="col flex align-items-center justify-content-center">
      <h1>Movie Lists</h1>

      <ul style="list-style: none;">
        <li>
          <button (click)="navigateToContainerOutlet('nowPlaying')">Now playing</button>
        </li>
        <li>
          <button (click)="navigateToContainerOutlet('popular')">Popular</button>
        </li>
        <li>
          <button (click)="navigateToContainerOutlet('top')">Top rated</button>
        </li>
        <li>
          <button (click)="navigateToContainerOutlet('upcoming')">Upcoming</button>
        </li>
      </ul>
    </div>
  </ng-template>
  <ng-template pTemplate>
    <p-splitter layout="vertical" [panelSizes]="[15, 85]">

      <ng-template pTemplate>
        <ul style="list-style: none;">
          <li>
            <button (click)="navigateToContainerOutlet('favorites')">Favorites</button>
          </li>
          <li>
            <button (click)="navigateToContainerOutlet('watchLater')">Watch later</button>
          </li>

        </ul>

      </ng-template>

      <ng-template pTemplate>
        <p-splitter [panelSizes]="[20, 80]">

          <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">
              <router-outlet name="container-outlet"></router-outlet>
            </div>
          </ng-template>

        </p-splitter>
      </ng-template>
    </p-splitter>
  </ng-template>
</p-splitter>
