<div class="movie-card">
  <img class="movie-image" [src]="movieData.poster_path | localizeImagePath"
    [alt]="movieData.poster_path | localizeImagePath">
  <p>{{movieData.title}}</p>
  <p>{{movieData.release_date}}</p>
  <p>{{movieData.popularity}}</p>

  @if(isShowingButtons){
  <button (click)="addToWatchList()" *ngIf="!isAddedToWatchList">Add to watch list</button>
  <button (click)="addToFavoritesList()" *ngIf="!isAddedToFavorites">Add to favorites</button>
  }

  <button (click)="showMovieDetails()">Show details</button>
  <div *ngIf="isDetails">
    <p>{{movieData.overview}}</p>
  </div>
</div>
