<p-card header="{{movieData.title}}" subheader="{{movieData.overview | shortOverview:wordsCount}}"
  [style]="{ width : '250px'}">
  <ng-template pTemplate="header">

    <div class="container">

      <div class="content">
        <p-image src="{{movieData.poster_path | localizeImagePath}}" alt="{{movieData.title}}" [preview]="true" />
      </div>


      <div class="relative-footer">
        @if(isMayBeAddedToList){
        <p-button icon="pi pi-heart" rounded="true" text="true" severity="danger" (onClick)="addToFavorites()" />
        <p-button icon="pi pi-eye" rounded="true" text="true" severity="warning" (onClick)="addToWatchLater()" />
      }@else {
        <p-button icon="pi pi-trash" rounded="true" text="true" severity="danger" (onClick)="removeFromFavorites()" />
      }
      </div>



    </div>

    <p-rating stars="5" />
  </ng-template>

  <ng-template pTemplate="content">

  </ng-template>

  <ng-template pTemplate="footer">
    <div class="flex-center">
      <button (click)="showMovieDetails()" class="center-buttons">Show details</button>
      <p *ngIf="isDetails">{{movieData.overview}}</p>
    </div>
  </ng-template>
</p-card>
