:host ::ng-deep .p-sidebar {
  min-width: 100px;
  max-width: 300px;
}

.box{
  display: flex;
  width:100%;
  height: 100%;
}

.flex-one{
  flex: 1;
  height: 100%;
}

:host::ng-deep {
  .p-panel-content,
  .p-panel {
    width: 20px;
    // background-color: red;
    height: 100%;
  }
}
