<div class="header">
  <ng-content></ng-content>
</div>

<div *ngIf="!isNoMovies; else noMoviesContent">
  @for (movieList of movieLists; track $index) {
  <app-movie-list-component [name]="movieList.name" [cinema]="this" *ngIf="movieList.movies.length"
    [movies]="movieList.movies" [isAbleToModify]="movieList.isAbleToModify">
  </app-movie-list-component>
  }
</div>

<ng-template #noMoviesContent>
  <div [ngClass]="{'alert-background-red':isNoMovies}">
    <p class="no-movie-list-header">No movies found</p>
  </div>
</ng-template>

<p-toast position="bottom-right" key="br" />
