.cinema {
  // background-color: darkkhaki;
}

.cinema-header {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}


.no-movie-list-header, .header {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}


.alert-background-red {
  background-color: red;
  width: 100%;
  height: 100%;
}
